@import '../../styles.scss';

.quize-input__list {
    padding-left: 35px;
}

@media(max-width:768px) {
    .content__head {
        font-size: 18px;
    }

    .content__description {
        font-size: 15px;
    }

    .quize-input__head {
        font-size: 15px;
    }

    label {
        font-size: 14px;
    }
}