@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

$quicksand: 'Quicksand', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$white: #EEEEEE;
$light-blue: #C3E4E9;
$darker-light-blue: #88B4BE;
$blue: #056C89;
$dark-blue: #023653;
$black: #000000;