@import '../../styles.scss';




.quize-input-btns {
    display: inline;
    gap: 10px;
    margin-top: 19px;
    margin-bottom: 65px;
}



.button-white {
    padding: 10px 15px;
    gap: 10px;
    border-radius: 5px;
    background: #FFF;
    height: 31px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
    border-style: none;
    text-decoration: none;
    height: 31px;
}

@media(max-width:500px) {
    .button-white {
        width: 130px;
        height: 20px;

    }

    .button-blue {
        width: 130px;
        height: 20px;

    }

    .button-blue-not {
        width: 130px;
        height: 20px;
    }

    .quize-input-btns {
        display: grid;
        gap: 10px;

    }
}